upstream ome_gw_server {
  server ${DJANGO_SERVER} fail_timeout=0;
}

server {
    listen 80;
    server_name localhost;

    client_max_body_size 4G;

    access_log /var/log/nginx/nginx-access.log;
    error_log /var/log/nginx/nginx-error.log;

    include apps/ome_seadragon_gw.location;
}
